<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.tile.mapper.TileSaleOrderMapper">
    
    <resultMap type="TileSaleOrder" id="TileSaleOrderResult">
        <result property="orderId"         column="order_id"          />
        <result property="orderNo"         column="order_no"          />
        <result property="customerId"      column="customer_id"       />
        <result property="orderDate"       column="order_date"        />
        <result property="totalAmount"     column="total_amount"      />
        <result property="orderStatus"     column="order_status"      />
        <result property="paymentStatus"   column="payment_status"    />
        <result property="paymentAmount"   column="payment_amount"    />
        <result property="deliveryAddress" column="delivery_address"  />
        <result property="deliveryPhone"   column="delivery_phone"    />
        <result property="deliveryContact" column="delivery_contact"  />
        <result property="remark"          column="remark"            />
        <result property="createBy"        column="create_by"         />
        <result property="createTime"      column="create_time"       />
        <result property="updateBy"        column="update_by"         />
        <result property="updateTime"      column="update_time"       />
        <association property="customer" column="customer_id" javaType="TileCustomer" resultMap="customerResult" />
    </resultMap>
    
    <resultMap id="customerResult" type="TileCustomer">
        <id     property="customerId"   column="customer_id"     />
        <result property="customerName" column="customer_name"   />
        <result property="customerCode" column="customer_code"   />
        <result property="phone"        column="phone"          />
    </resultMap>

    <sql id="selectTileSaleOrderVo">
        select o.order_id, o.order_no, o.customer_id, o.order_date, o.total_amount, o.order_status, 
        o.payment_status, o.payment_amount, o.delivery_address, o.delivery_phone, o.delivery_contact,
        o.remark, o.create_by, o.create_time, o.update_by, o.update_time,
        c.customer_name, c.customer_code, c.phone
        from tile_sale_order o
        left join tile_customer c on o.customer_id = c.customer_id
    </sql>

    <select id="selectTileSaleOrderList" parameterType="TileSaleOrder" resultMap="TileSaleOrderResult">
        <include refid="selectTileSaleOrderVo"/>
        <where>  
            <if test="orderNo != null  and orderNo != ''"> and o.order_no like concat('%', #{orderNo}, '%')</if>
            <if test="customerId != null "> and o.customer_id = #{customerId}</if>
            <if test="orderDate != null  and orderDate != ''"> and o.order_date = #{orderDate}</if>
            <if test="orderStatus != null  and orderStatus != ''"> and o.order_status = #{orderStatus}</if>
            <if test="paymentStatus != null  and paymentStatus != ''"> and o.payment_status = #{paymentStatus}</if>
        </where>
        order by o.create_time desc
    </select>
    
    <select id="selectTileSaleOrderByOrderId" parameterType="Long" resultMap="TileSaleOrderResult">
        <include refid="selectTileSaleOrderVo"/>
        where o.order_id = #{orderId}
    </select>
        
    <insert id="insertTileSaleOrder" parameterType="TileSaleOrder" useGeneratedKeys="true" keyProperty="orderId">
        insert into tile_sale_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNo != null">order_no,</if>
            <if test="customerId != null">customer_id,</if>
            <if test="orderDate != null">order_date,</if>
            <if test="totalAmount != null">total_amount,</if>
            <if test="orderStatus != null">order_status,</if>
            <if test="paymentStatus != null">payment_status,</if>
            <if test="paymentAmount != null">payment_amount,</if>
            <if test="deliveryAddress != null">delivery_address,</if>
            <if test="deliveryPhone != null">delivery_phone,</if>
            <if test="deliveryContact != null">delivery_contact,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderNo != null">#{orderNo},</if>
            <if test="customerId != null">#{customerId},</if>
            <if test="orderDate != null">#{orderDate},</if>
            <if test="totalAmount != null">#{totalAmount},</if>
            <if test="orderStatus != null">#{orderStatus},</if>
            <if test="paymentStatus != null">#{paymentStatus},</if>
            <if test="paymentAmount != null">#{paymentAmount},</if>
            <if test="deliveryAddress != null">#{deliveryAddress},</if>
            <if test="deliveryPhone != null">#{deliveryPhone},</if>
            <if test="deliveryContact != null">#{deliveryContact},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTileSaleOrder" parameterType="TileSaleOrder">
        update tile_sale_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderNo != null">order_no = #{orderNo},</if>
            <if test="customerId != null">customer_id = #{customerId},</if>
            <if test="orderDate != null">order_date = #{orderDate},</if>
            <if test="totalAmount != null">total_amount = #{totalAmount},</if>
            <if test="orderStatus != null">order_status = #{orderStatus},</if>
            <if test="paymentStatus != null">payment_status = #{paymentStatus},</if>
            <if test="paymentAmount != null">payment_amount = #{paymentAmount},</if>
            <if test="deliveryAddress != null">delivery_address = #{deliveryAddress},</if>
            <if test="deliveryPhone != null">delivery_phone = #{deliveryPhone},</if>
            <if test="deliveryContact != null">delivery_contact = #{deliveryContact},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where order_id = #{orderId}
    </update>

    <delete id="deleteTileSaleOrderByOrderId" parameterType="Long">
        delete from tile_sale_order where order_id = #{orderId}
    </delete>

    <delete id="deleteTileSaleOrderByOrderIds" parameterType="String">
        delete from tile_sale_order where order_id in 
        <foreach item="orderId" collection="array" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </delete>
</mapper>
