<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.tile.mapper.TileWarehouseLocationMapper">
    
    <resultMap type="com.ruoyi.system.tile.domain.TileWarehouseLocation" id="TileWarehouseLocationResult">
        <result property="locationId"    column="location_id"    />
        <result property="warehouseId"    column="warehouse_id"    />
        <result property="locationName"    column="location_name"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="warehouseName"    column="warehouse_name"    />
    </resultMap>

    <sql id="selectTileWarehouseLocationVo">
        select l.location_id, l.warehouse_id, l.location_name, l.status, l.del_flag, l.create_by, l.create_time, l.update_by, l.update_time, l.remark,
        w.warehouse_name
        from tile_warehouse_location l
        left join tile_warehouse w on w.warehouse_id = l.warehouse_id
    </sql>

    <select id="selectTileWarehouseLocationList" parameterType="com.ruoyi.system.tile.domain.TileWarehouseLocation" resultMap="TileWarehouseLocationResult">
        <include refid="selectTileWarehouseLocationVo"/>
        <where>  
            <if test="warehouseId != null "> and l.warehouse_id = #{warehouseId}</if>
            <if test="locationName != null  and locationName != ''"> and l.location_name like concat('%', #{locationName}, '%')</if>
            <if test="status != null  and status != ''"> and l.status = #{status}</if>
            and l.del_flag = '0'
        </where>
    </select>
    
    <select id="selectTileWarehouseLocationByLocationId" parameterType="Long" resultMap="TileWarehouseLocationResult">
        <include refid="selectTileWarehouseLocationVo"/>
        where l.location_id = #{locationId} and l.del_flag = '0'
    </select>

    <select id="selectTileWarehouseLocationByWarehouseId" parameterType="Long" resultMap="TileWarehouseLocationResult">
        <include refid="selectTileWarehouseLocationVo"/>
        where l.warehouse_id = #{warehouseId} and l.del_flag = '0'
    </select>
        
    <insert id="insertTileWarehouseLocation" parameterType="com.ruoyi.system.tile.domain.TileWarehouseLocation" useGeneratedKeys="true" keyProperty="locationId">
        insert into tile_warehouse_location
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="warehouseId != null">warehouse_id,</if>
            <if test="locationName != null">location_name,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="warehouseId != null">#{warehouseId},</if>
            <if test="locationName != null">#{locationName},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTileWarehouseLocation" parameterType="com.ruoyi.system.tile.domain.TileWarehouseLocation">
        update tile_warehouse_location
        <trim prefix="SET" suffixOverrides=",">
            <if test="warehouseId != null">warehouse_id = #{warehouseId},</if>
            <if test="locationName != null">location_name = #{locationName},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where location_id = #{locationId}
    </update>

    <delete id="deleteTileWarehouseLocationByLocationId" parameterType="Long">
        update tile_warehouse_location set del_flag = '2' where location_id = #{locationId}
    </delete>

    <delete id="deleteTileWarehouseLocationByLocationIds" parameterType="String">
        update tile_warehouse_location set del_flag = '2' where location_id in 
        <foreach item="locationId" collection="array" open="(" separator="," close=")">
            #{locationId}
        </foreach>
    </delete>
</mapper>
