<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.tile.mapper.TileSurfaceMapper">
    
    <resultMap type="TileSurface" id="TileSurfaceResult">
        <result property="surfaceId"   column="surface_id"   />
        <result property="surfaceName" column="surface_name" />
        <result property="orderNum"    column="order_num"    />
        <result property="status"      column="status"       />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"  column="create_time"  />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"  column="update_time"  />
        <result property="remark"      column="remark"       />
    </resultMap>

    <sql id="selectTileSurfaceVo">
        select surface_id, surface_name, order_num, status, create_by, create_time, update_by, update_time, remark
        from tile_surface
    </sql>

    <select id="selectTileSurfaceList" parameterType="TileSurface" resultMap="TileSurfaceResult">
        <include refid="selectTileSurfaceVo"/>
        <where>
            <if test="surfaceName != null and surfaceName != ''">
                AND surface_name like concat('%', #{surfaceName}, '%')
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
        </where>
        order by order_num
    </select>
    
    <select id="selectTileSurfaceById" parameterType="Long" resultMap="TileSurfaceResult">
        <include refid="selectTileSurfaceVo"/>
        where surface_id = #{surfaceId}
    </select>

    <select id="checkSurfaceNameUnique" parameterType="String" resultMap="TileSurfaceResult">
        <include refid="selectTileSurfaceVo"/>
        where surface_name = #{surfaceName} limit 1
    </select>
        
    <insert id="insertTileSurface" parameterType="TileSurface" useGeneratedKeys="true" keyProperty="surfaceId">
        insert into tile_surface
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="surfaceName != null">surface_name,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="surfaceName != null">#{surfaceName},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTileSurface" parameterType="TileSurface">
        update tile_surface
        <trim prefix="SET" suffixOverrides=",">
            <if test="surfaceName != null">surface_name = #{surfaceName},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where surface_id = #{surfaceId}
    </update>

    <delete id="deleteTileSurfaceById" parameterType="Long">
        delete from tile_surface where surface_id = #{surfaceId}
    </delete>

    <delete id="deleteTileSurfaceByIds" parameterType="String">
        delete from tile_surface where surface_id in 
        <foreach item="surfaceId" collection="array" open="(" separator="," close=")">
            #{surfaceId}
        </foreach>
    </delete>
</mapper>
