<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.tile.mapper.TilePatternMapper">
    
    <resultMap type="TilePattern" id="TilePatternResult">
        <result property="patternId"    column="pattern_id"    />
        <result property="patternName"  column="pattern_name"  />
        <result property="orderNum"   column="order_num"   />
        <result property="status"     column="status"      />
        <result property="createBy"   column="create_by"   />
        <result property="createTime" column="create_time" />
        <result property="updateBy"   column="update_by"   />
        <result property="updateTime" column="update_time" />
        <result property="remark"     column="remark"      />
    </resultMap>

    <sql id="selectTilePatternVo">
        select pattern_id, pattern_name, order_num, status, create_by, create_time, update_by, update_time, remark
        from tile_pattern
    </sql>

    <select id="selectTilePatternList" parameterType="TilePattern" resultMap="TilePatternResult">
        <include refid="selectTilePatternVo"/>
        <where>
            <if test="patternName != null and patternName != ''">
                AND pattern_name like concat('%', #{patternName}, '%')
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
        </where>
        order by order_num
    </select>
    
    <select id="selectTilePatternById" parameterType="Long" resultMap="TilePatternResult">
        <include refid="selectTilePatternVo"/>
        where pattern_id = #{patternId}
    </select>

    <select id="checkPatternNameUnique" parameterType="String" resultMap="TilePatternResult">
        <include refid="selectTilePatternVo"/>
        where pattern_name = #{patternName} limit 1
    </select>
        
    <insert id="insertTilePattern" parameterType="TilePattern" useGeneratedKeys="true" keyProperty="patternId">
        insert into tile_pattern
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="patternName != null">pattern_name,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="patternName != null">#{patternName},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTilePattern" parameterType="TilePattern">
        update tile_pattern
        <trim prefix="SET" suffixOverrides=",">
            <if test="patternName != null">pattern_name = #{patternName},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where pattern_id = #{patternId}
    </update>

    <delete id="deleteTilePatternById" parameterType="Long">
        delete from tile_pattern where pattern_id = #{patternId}
    </delete>

    <delete id="deleteTilePatternByIds" parameterType="String">
        delete from tile_pattern where pattern_id in 
        <foreach item="patternId" collection="array" open="(" separator="," close=")">
            #{patternId}
        </foreach>
    </delete>
</mapper>
